body{
    background-color: lightgray;
}
.header{
    padding:20px;
}
.header_inner{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
width: 1200px;
padding:0 15px;
margin: 0 auto;
}
h1{
    text-align: center;
    margin: 10px 0;
}
p{
    text-align: center;
}
h2{
    text-align: left;
    margin-left: 20px;
}
.nav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav_inner{
    width: 100%;
    height: 440px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.nav_lesson{
    width: 270px;
    height: 120px;
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 6px 25px #d0d0d0;
}
h3{
text-align: center;
margin: 10px 0;
}
.nav_lesson_inner{
    width: 250px;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid rgb(221, 214, 214);
}
.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 29px;
    width: 96px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #02b3e4;
    background-color: white;
    color: rgb(47, 49, 54);
    font-weight: bold;
}
.lesson_card_desc{
        color: rgb(59, 59, 161);
        margin-left: 50px;
}
.nav_inner_second{
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}